 /* PALETA DE COLORES proyecto CAFÉ:

 #9A3B3B  rgb(154, 59, 59)

 #C08261   rgb(192, 130, 97)

 #E2C799   rgb(226, 199, 153)
 
 #F2ECBE   rgb(242, 236, 190)
 
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap');
 /*Agreguamos un estilo de fuente de letra más acorde al formato digital*/

 * {
    box-sizing: border-box;
    /*El cálculo de los tamaños tiene en cuenta el padding y el border*/
    margin: 0;
    padding: 0;
    /* Reseteamos para tener control absoluto de los elementos*/
 }

 /* Selector de etiqueta*/
 body {
    background-image: url(../img/fondo_1920.jpg);
    background-size: cover;
    /*Centramos el fondo de la imagen*/
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 32px;
 }

 header,
 footer {
    background-color: hsla(53, 66%, 85%, 0.50);
    width: 1rem;
    padding: 1rem;
    height: 2rem;
    margin: 2rem;
 }

 h1 {
    position: fixed;
    font-size: 2rem;
    /*Usamos rem porque depende del elemento raiz*/
    background: hsla(53, 66%, 85%, 0.50);
    color: #9c4444;
 }

 h2 {
    position: relative;
    /*pongo el texto sobre la imagen*/
    left: 30rem;
    width: 38rem;
    height: 1rem;
    font-size: 1.5rem;
    background: hsla(53, 66%, 85%, 0.50);
    color: #9c4444;
 }

 p {
    font-size: 1rem;
 }


 a {
    color: #876c5e;

 }

 div p {
    font-size: 1.3rem;
 }

 /* selector por ID*/
 #enlaceDeContacto {
    font-size: 1rem;
    color: #9A3B3B;
 }

 #enlacePagina {
    font-size: 1rem;
 }

 /* Selector por clase*/

 .flex-container {
    display: flex;
    position: sticky;
    flex-flow: row wrap;
    justify-content: space-around;


 }

 .grid-container {
    display: grid;
    grid-template-columns: 20rem 15rem 13rem 13rem 13rem 8rem;
    grid-template-rows: 35rem;
    /*justify-content: space-around;*/
    gap: 1rem;

 }

 .grid-container>div>div {
    text-align: center;
    padding: 20px 0;
    /*height: 300rem;*/

 }

 .oscuro {
    background: hsla(53, 67%, 85%, 0.50);
    color: #953d3d;
 }

 .ancla {
    color: rgb(68, 45, 22);
 }


 .subrayado {
    text-decoration: underline 2px #9A3B3B;
 }

 .tamaño {
    font-size: 1rem;

 }

 /* esto me cambia todo en la pagina completa*/
 /* Selector UNiversal: *
   *{
      background-color: #E2C799;
   }
   */