 /* PALETA DE COLORES proyecto CAFÉ:

 #9A3B3B  rgb(154, 59, 59)

 #C08261   rgb(192, 130, 97)

 #E2C799   rgb(226, 199, 153)
 
 #F2ECBE   rgb(242, 236, 190)
 
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap');
 /*Agreguamos un estilo de fuente de letra más acorde al formato digital*/


 /* Selector de etiqueta*/
 body {
    background-image: url(../img/fondo_1920.jpg);
    background-size: cover;
    /*Centramos el fondo de la imagen*/
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 32px;
 }

 h1 {
    font-size: 2rem;
    /*Usamos rem porque depende del elemento raiz*/
    background: hsla(53, 66%, 85%, 0.50);
    color: #9c4444;
 }

 h2 {
    font-size: 1.5rem;
 }

 p {
    font-size: 1rem;
 }


 a {
    color: #876c5e;

 }

 /* selector por ID*/
 #enlaceDeContacto {
    font-size: 1rem;
    color: #9A3B3B;
 }

 #enlacePagina {
    font-size: 1rem;
 }

 /* Selector por clase*/
 .oscuro {
    background: hsla(53, 67%, 85%, 0.50);
    color: #953d3d;
 }

 .ancla {
    color: rgb(68, 45, 22);
 }


 .subrayado {
    text-decoration: underline 2px #9A3B3B;
 }

 .tamaño {
    font-size: 1rem;

 }

 .carrusel {
   height: 100vh;
   display: flex;
   align-items: center;
 }
 
 .carrusel-items {
   display: flex;
   overflow-x: hidden;
   overflow-y: hidden;
   padding: 40px 0px;
 }
 
 .carrusel-item {
   outline: 2px solid black;
   cursor: pointer;
 }
 
 .carrusel-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .carrusel-item:hover {
   transform: scale(1.2);
 }

 #imgfb, #imginst{
   width: 20px;
}

 footer {
   color: rgb(231, 219, 200);
   background-color: #9c4444;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   display: flex;
   flex-direction: column;
   text-align: center;
   box-shadow: 2px 2px 10px white;
   background-color:#9c4444(0, 0, 0);
 }
 .menu-{
   display: flex;
   flex-direction: column;
}
 

 /* esto me cambia todo en la pagina completa*/
 /* Selector UNiversal: *
   *{
      background-color: #E2C799;
   }
   */
